<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contadador</title>
    
</head>
<body>
    <h>Counter</h>
    <div class="counting">
        <h3>{{session['count']}}</h3> <!--aqui estoy realizando el conteo-->
        <button class="btn"><a href="/">Click</a></button>  <!-- aqui estoy dando funcionalidad al boton click para que sume cada vez que lo apreto-->
        <button class="btn"><a href="/destroy_session">Reset</a></button>
    </div>
</body>
</html>